.site-philosophy{
  background: $gray;
  padding: 100px 0;
  overflow: hidden;
  @include mobile{
    text-align: center;
  }

  &-portrait{
    width: 100%;
    @include tablet{
      width: 50%;
    }
    @include mobile{
      width: 80%;
    }
  }
  &-name{
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 15px;
  }
  &-position{
    font-size: 20px;
    margin-bottom: 50px;
  }
  &-quote{
    p{
      font-size: 25px;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
}